
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chef - Orders</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.tailwindcss.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatable/2.0.2/js/datatable.js" integrity="sha512-jNM5sph4S0JfKyz27iPhIFj4JG8o/XiIu7WUgCM/EGYCizlQW+RzMi8Y/rnXlqpkUl7ELz5SLfuF44zCvS3NYQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.16/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.16/dist/sweetalert2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <style>
        #tableList {
            width: 80vw !important;
        }
        td{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 12px;
        }
        th{
            font-size: 12px;
        }
    </style>
</head>
<body >
<div th:insert="common/navbar :: navbar"></div>
<div th:insert="/common/ordering/menuList:: menuList"></div>
<div class="relative w-full flex flex-col justify-center items-center">
    <div class="w-full relative h-auto min-h-screen bg-gray-100 ">
        <div class="w-full flex flex-col items-center justify-center h-full bg-gray-100">
            <div class="w-full h-full px-6 mx-1 my-2">
            <div class="bg-white p-8 rounded-lg shadow-lg">
                <h1 class="text-2xl font-bold mb-6" th:text="#{orders}">Orders</h1>
                <div class="w-full bg-gray-50 p-3 rounded-md overflow-x-auto p-1 shadow-sm">

                <table id="orderList" class="lg:mt-10 mt-5 text-xs">
                    <thead>
                    <tr>
                        <th class="text-left" th:text="#{Table-NO}">Table NO.</th>
                        <th class="text-left" th:text="#{Customer-Full-Name}">Customer Full Name</th>
                        <th class="text-left" th:text="#{Total-Price}">Total Price</th>
                        <th class="text-left" th:text="#{Status}">Status</th>
                        <th class="text-left" th:text="#{Actions}">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Table rows will be added here -->
                    </tbody>
                </table>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.tailwindcss.js"></script>

<script th:src="@{/js/order.js}"></script>
<script th:src="@{/js/menuOrdering.js}"></script>

<script>
    $(document).ready(function() {
        initMenuList();
        init();
    });
</script>
</body>
</html>
