<body th:fragment ="adminHome">
<div th:insert="common/navbar :: navbar"></div>
<div class="relative w-full h-auto flex flex-col justify-center items-center bg-gray-50 h-auto space-y-8 absolute z-20">
    <div>
        <h1 th:text="#{Admin}" class="text-3xl font-bold text-gray-800 mt-5">Admin</h1>
    </div>
    <div class="grid grid-cols-4 w-10/12 gap-6 justify-items-center items-center py-10 bg-white rounded-md shadow-md">
        <div>
            <span th:text="#{No-thing-to-show}" >No thing to show</span>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.js"></script>

</body>
