<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Table Form</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.16/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.16/dist/sweetalert2.min.js"></script>
</head>
<body>
<!--
   NOTE : Using the fragment to include the form in the tableList.html
-->
<div th:fragment="addCategoryFormHTML" id="addFormDiv" class="min-h-screen h-auto flex items-center justify-center absolute w-full top-0 hidden">
    <div class="fixed inset-0 bg-black opacity-50 z-10"></div>
    <div class="bg-white p-8 rounded-lg shadow-lg w-96 z-20">
        <div class="flex justify-between items-center">
            <h1 class="text-2xl font-bold mb-6">Kitchen Category Form</h1>
            <span class="closeButtonAdd text-2xl cursor-pointer">&times;</span>
        </div>
        <form class="space-y-4" id="saveCategoryForm">
            <input type="hidden" class="d-none form-control" id="categoryId" value="0">
            <div>
                <label for="categoryName" class="block text-sm font-medium text-gray-700">Category Name</label>
                <input type="text" id="categoryName" name="categoryName" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
            </div>
            <div>
                <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
