<!--
 Guys, I have added the table list page with the table form and update form.
 It's the same as we did with Cor using jQuery but this one is with Thymeleaf and Tailwind CSS.

 Update the form based on your form fields and the controller mappings.
 Be careful with the form action and the input field names.

 USE THE CODE BELOW:
 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.tailwindcss.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatable/2.0.2/js/datatable.js" integrity="sha512-jNM5sph4S0JfKyz27iPhIFj4JG8o/XiIu7WUgCM/EGYCizlQW+RzMi8Y/rnXlqpkUl7ELz5SLfuF44zCvS3NYQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.16/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.16/dist/sweetalert2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</head>
<body>
<div th:insert="common/navbar :: navbar"></div>
<div class="w-full flex flex-col h-full items-center justify-center bg-gray-100 p-4 md:p-8">
    <div class="bg-white p-4 md:p-8 rounded-lg shadow-lg w-full md:w-3/4">
        <h1 th:text="#{Users}" class="text-2xl font-bold mb-4 md:mb-6">Users</h1>
        <button th:text="#{Add-User}" id="addButton" class="w-full flex justify-center mb-4 py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Add User</button>
        <div class="overflow-x-auto">
            <table id="userList" class="w-full mt-6">
                <thead>
                <tr>
                    <th th:text="#{user-name}" class="text-left">User name</th>
                    <th th:text="#{first-name}" class="text-left">First name</th>
                    <th th:text="#{last-name}" class="text-left">Last name</th>
                    <th th:text="#{Email}" class="text-left">Email</th>
                    <th th:text="#{Role}" class="text-left">Role</th>
                    <th th:text="#{Actions}" class="text-left">Actions</th>
                </tr>
                </thead>
                <tbody>
                <!-- User rows will be added here -->
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="mt-5 w-full h-10 text-black">
</div>
<!-- Include the add and update form using fragment
    Check the addForm.html and updateForm.html for the form structure
-->
<div th:insert="admin/userManagement/addForm :: addUserFormHTML"></div>

<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.tailwindcss.js"></script>
<!-- Include the usersForm.js file from the static folder
    Create your own js file in the js folder and use it like this
-->
<script th:src="@{/js/userForm.js}"></script>
<script>
    $(document).ready(function() {
        init();
    });
</script>
</body>
</html>

