
<body th:fragment="frontDeskHome">
<div th:insert="common/navbar :: navbar"></div>
<div th:insert="/common/ordering/menuList:: menuList"></div>
<div id="reservationDetailsPopup" class="w-full h-screen absolute z-40 flex justify-center items-center hidden">
    <div class="w-full h-screen bg-black opacity-60 absolute z-40"></div>
    <div class=" w-2/4 lg:h-3/5 bg-white absolute z-50 rounded-md px-3 py-5">
        <div class="flex justify-between items-center px-4">
            <h1 class="text-2xl font-bold" th:text="#{Reservation-details}">Reservation Details</h1>
            <span class="closePopUp text-2xl cursor-pointer">&times;</span>
        </div>
        <div id="reservationDetailsDiv">

        </div>
    </div>
</div>
<div class="relative w-full h-auto flex flex-col justify-center items-center bg-gray-50 h-auto space-y-8 absolute z-20">
    <div>
        <h1 class="text-3xl font-bold text-gray-800 mt-5" th:text="#{Today-Reservations}"  >Today's Reservations</h1>
    </div>
    <div class="flex flex-col w-10/12 py-10 bg-white rounded-md shadow-md items-center">

        <div class="w-full h-10 my-1 flex justify-start items-center px-4">
            <span id="totalReservation" class="bg-gray-100 px-1 py-1 font-bold rounded-md "></span>
        </div>
        <hr class="w-3/4 m-auto">
        <div id="todayReservationDiv" class="hidden md:w-11/12 md:grid grid-cols-2 lg:grid-cols-4 w-full md:gap-3 lg:gap-6 justify-items-center items-center mt-3 px-3">
        </div>
    </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.js"></script>

<script th:src="@{/js/frontDeskHome.js}"></script>
<script th:src="@{/js/menuOrdering.js}"></script>

<script>
    $(document).ready(function() {
        init();
        initMenuList();
    });
</script>
</body>

