<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Table Form</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<!--
   NOTE : Using the fragment to include the form in the tableList.html
-->
<div th:fragment="addTableFormHTML" id="addFormDiv" class="min-h-screen h-auto flex items-center justify-center absolute w-full top-0 hidden">
    <div class="w-5/6 h-5/6 rounded-md z-10 bg-black opacity-50 absolute"></div>
    <div class="bg-white p-8 rounded-lg shadow-lg w-96 z-30">
        <div class="flex justify-between items-center">
            <h1 class="text-2xl font-bold mb-6">Table Form</h1>
            <span class="closeButtonAdd text-2xl cursor-pointer">&times;</span>
        </div>
        <form class="space-y-4" id="addTableForm">
            <div>
                <label for="tableNumber" class="block text-sm font-medium text-gray-700">Table Number</label>
                <input type="number" id="tableNumber" name="tableNumber" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
            <div>
                <label for="tableCapacity" class="block text-sm font-medium text-gray-700">Table Capacity</label>
                <input type="number" id="tableCapacity" name="tableCapacity"  class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
            <div>
                <button type="submit" id="addTableButton" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
