<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Table Form</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<!-- The update form is similar to the add form, but the form action is different,
   NOTE : Using the fragment to include the form in the tableList.html
 -->
<div th:fragment="updateTableFormHTML" id="updateFormDiv" class="min-h-screen flex items-center justify-center absolute top-0 w-full hidden">
    <div class="w-5/6 h-5/6 rounded-md z-10 bg-black opacity-50 absolute"></div>
    <div class="bg-white p-8 rounded-lg shadow-lg w-96 z-30">
        <div class="flex justify-between items-center">
            <h1 class="text-2xl font-bold mb-6">Update Table Form</h1>
            <span class="closeButton text-2xl cursor-pointer">&times;</span>
        </div>
        <form id="updateTableForm" class="space-y-4">
            <input type="hidden" id="updateTableId">
            <div>
                <label for="updateTableCapacity" class="block text-sm font-medium text-gray-700">Table Capacity</label>
                <input type="number" id="updateTableCapacity" name="updateTableCapacity" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
            <div>
                <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
